#lien
{
	text-align: right;
	color: #00acee;
	font-size: 18px;
	font-weight: bold;

}
a
{
	text-decoration: none;
}
h2
{

	font-size: 18px;
	font-weight: bold;
	margin-left: 200px;
}


label
{
color: grey;	
}

body{
    		position: relative;
    		right: 20%;
    		left: 20%;
    		width: 43%;
    		}
